[Unit]
Description=Dream
Documentation=https://zhuwenhao.me
After=network.target network-online.target
Requires=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/dream

[Install]
WantedBy=multi-user.target
